# Byte-compiled / Python cache files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller & Compiler build artifacts
build/
dist_obf/
*.spec
*.pyarmor
.pyarmor/

# Temporary and log files
*.log
*.tmp
*.temp
*.bak
*.swp
*.db-journal
*.db-wal
*.db-shm

# Environments
.env
.venv
env/
venv/
ENV/

# IDE configurations
.vscode/
.idea/
